body {
    background-color:aquamarine;
    font-family: Verdana;
    letter-spacing: 1px;

}

div#results {
    width: 500px;
    height: auto;
    text-align: left;
    margin-left: 100px;
    border: 1px solid red;
    margin-top: 20px;
    color: white;
    padding: 20px;
    display: none;
}
